<div class="wrapper">
    <ngx-spinner *ngIf="loading"
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
  >
    <p style="font-size: 20px; color: white">Loading...</p>
   </ngx-spinner>
    <div class="user__wrapper" *ngIf="user.login && !errorMessage"> 
        <img class="avatar" [src]="user.avatar_url" alt="avatar">
        <div class="user__name__wrapper">
            <div class="user__name">
                <p class="name">{{user.name}}</p>
                <p class="username">{{user.login}}</p>
                <p class="bio">{{user.bio}}</p>
            </div>
         
        </div>
        <div class="createAt">
            {{user.created_at}}
        </div>
    </div>  
    <div class="repo__wrapper" *ngIf="user.login && !errorMessage" >
        <div class="repo">
            <div class="name">Repos</div>
            <div class="count"> {{user.public_repos}}</div>
        </div>
        <div class="repo">
            <div class="name">Followers</div>
            <div class="count">{{user.followers}}</div>
        </div>
        <div class="repo">
            <div class="name">Following</div>
            <div class="count">{{user.following}}</div>
        </div>
    </div>
    <div class="user__info__wrapper" *ngIf="user.login && !errorMessage">
        <div class="info">
            <img src="assets/icon-location.svg" alt="location" class="icon">
            <p class="info__text">{{user.location || 'Not Available' }} </p>
        </div>
        <div class="info">
            <img src="assets/icon-twitter.svg" alt="twitter" class="twitter">
            <p class="info__text">{{user.twitter_username || 'Not Available'}}</p>
        </div>
        <div class="info">
            <img src="assets/icon-website.svg" alt="location" class="website">
            <p class="info__text">{{user.blog || 'Not Available'}}</p>
        </div>
        <div class="info">
            <img src="assets/icon-company.svg" alt="location" class="company">
            <p class="info__text">{{user.company || 'Not Available'}}</p>
        </div>

    </div>
    <div class="info__text" *ngIf="!user.login && !loading  && !errorMessage">
        Type Github account
     </div>

     <div class="error__message" *ngIf="errorMessage">
       {{errorMessage}}
     </div>
</div>
